.data-table-container {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #1e2125;
    border-radius: 8px;
    background-color: #070a19;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}

.data-table {
    width: 90%;
    border-collapse: collapse;
    text-align: left;
    font-family: inherit;
    table-layout: fixed;
}

.columns {
    background-color: #070a19;
    color: #f8fafc;

}

.data-table__th {
    padding: 8px 4px;
    background-color: #070a19;
    color: #a9c5ed;
    font-size: 0.7rem;
    /*font-weight: 600;*/
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-bottom: 1px solid #1e2125;
    text-align: center; /* Added */
}

.data-table__tr {
    transition: background-color 0.15s ease;
    text-align: center; /* Changed from left */
    border-bottom: 1px solid #f1f5f9;
}

.data-table__tr:last-child {
    border-bottom: none;
}

.data-table__tr:hover {
    background-color: #021e3a;
}

.data-table__td {
    padding: 8px 2px;
    color: #829abd;
    font-size: 0.8rem;
    vertical-align: middle;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.data-table__td-empty {
    padding: 32px 16px;
    text-align: center;
    color: #64748b;
    font-size: 0.95rem;
}

.data-table-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #2563eb;
    font-weight: 500;
    font-size: 1rem;
}