.car-sort-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.car-sort-title {
    font-size: 0.9rem;
    font-weight: bold;
}

.car-sort-options {
    display: flex;
    align-items: center;
    gap: 30px; /* УВЕЛИЧЕНО РАССТОЯНИЕ МЕЖДУ ПАРАМИ */
}

.car-sort-options label {
    display: flex;
    align-items: center;
    gap: 5px; /* Расстояние от кружочка до текста внутри одной пары */
    cursor: pointer;
}