.custom-input-wrapper {
    margin-bottom: 1.2rem;
    text-align: left;
    width: 100%;
}

.custom-input-label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 0.9rem;
    color: #e2e8f0; /* Светлый цвет лейбла */
}

.custom-input-field {
    width: 100%;
    padding: 0.75rem 0.6rem;
    border-radius: 6px;
    border: 1px solid #475569; /* Темная рамка */
    box-sizing: border-box;
    font-size: 1rem;
    outline: none;

    background-color: #1e293b;
    color: #f8fafc;

    transition: all 0.2s ease;
}

.custom-input-field:focus {
    border-color: #38bdf8;
    box-shadow: 0 0 0 1px #38bdf8;
}

.custom-input-field--error {
    border-color: #ef4444 !important;
}

.custom-input-field:not([disabled]):not(.custom-input-field--error):focus {
    border-color: #10b981; /* Зеленый при фокусе, если нет ошибки */
}


.custom-input-field--disabled {
    background-color: #0f172a;
    color: #64748b;
    border-color: #ef4444; /* Красная рамка для дизейбла */
    cursor: not-allowed;
}

.custom-input-error-text {
    color: #ef4444;
    font-size: 0.8rem;
    margin-top: 0.4rem;
}


.custom-input-field::placeholder {
    color: #64748b;
}